@charset "utf-8";
/* CSS Document */

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

/* MAP */
#map { height: 91.5%; }

/* Hide the control initially, to prevent it from appearing before the map loads. */
.input-group, .btn-group {
	margin:10px;
	display: none;
}

/* Display the control once it is inside the map. */
#map .btn-group, #map .input-group{ display: block; }

/* NAVBAR */
.nav-link{
	color: #fff;
}


/* SIDEBAR */
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 8.5%;
	left: 0;
	background-color: #fff;
	overflow-x: hidden;
	transition: 0.5s;
}

.closebtn {
	position: absolute;
	top: 0;
	right: 25;
	font-size: 28px;
	margin-left: 300px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


