<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>map-optimization</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>drawing</servlet-name>
    <servlet-class>gpms.senary.servlet.DrawingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>drawing</servlet-name>
    <url-pattern>/drawing</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>clustring</servlet-name>
    <servlet-class>gpms.senary.servlet.ClustringServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>clustring</servlet-name>
    <url-pattern>/clustring</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>geojson-tile</servlet-name>
    <servlet-class>gpms.senary.servlet.GeojsonTileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>geojson-tile</servlet-name>
    <url-pattern>/geojson-tile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>geojson</servlet-name>
    <servlet-class>gpms.senary.servlet.GeojsonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>geojson</servlet-name>
    <url-pattern>/geojson</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>zoom</servlet-name>
    <servlet-class>gpms.senary.servlet.ZoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>zoom</servlet-name>
    <url-pattern>/zoom</url-pattern>
  </servlet-mapping>
</web-app>